{% extends 'base.html' %}

{% block content %}

    <form method="POST" enctype="multipart/form-data" class="mx-20 mt-8">
        <div>
            <h1 class="class=block mb-2 font-medium text-gray-900 text-2xl">Edit Profile</h1>
        </div>

        <div class="mb-6">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">Name</label>
            <input name="name" id="name" value="{{ user.name }}"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                   required>
        </div>

        <div class="mb-6">
            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 ">Description</label>
            <textarea id="description" name="description"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">{{ user.description }}</textarea>
        </div>

        <script>
            textarea = document.querySelector("#description");
            textarea.addEventListener("input", autoresize, false);
            function autoresize(){
              this.style.height="auto";
              this.style.height = this.scrollHeight + 'px';
            }
        </script>

        <div class="mb-6">
            <label for="userImage" class="cursor-pointer mb-2 text-sm font-medium text-gray-900">
            <span class="bg-gray-50 border border-gray-300 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center">Change Profile Picture</span><br><br>
              <input id="userImage" name="userImage" type="file" accept="image/*" multiple class="hidden">
              <p id="imageName"></p>
            </label>
        </div>
        
        <script>
            let input = document.getElementById("userImage");
            let imageName = document.getElementById("imageName");
            input.addEventListener("change", ()=>{
              let userImage = document.querySelector("input[type=file]").files[0];
              imageName.innerHTML = userImage.name;
            })
        </script>

        <button type="submit"
                class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
            Submit
        </button>
    </form>

{% endblock %}