{% extends 'base.html' %}

{% block content %}

    <form method="POST" enctype="multipart/form-data" class="mx-20 my-8">
        <div>
            <h1 class="class=block mb-2 font-medium text-gray-900 text-2xl">Edit Event</h1>
        </div>

        <div class="mb-6">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">Event name</label>
            <input name="name" id="name" value="{{ event.name }}"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                   required>
        </div>

        <div class="mb-6">
            <label for="location" class="block mb-2 text-sm font-medium text-gray-900 ">Location</label>
            <input type="text" name="location" id="location" value="{{ event.location }}"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                   required>
        </div>

        <div class="mb-6">
            <label for="start_time" class="block mb-2 text-sm font-medium text-gray-900 ">Date and time</label>
            <input type="datetime-local" name="start_time" id="start_time"
                   value="{{ event.start_time.strftime('%Y-%m-%dT%H:%M') }}"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                   required>
        </div>

        <div class="mb-6">
            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 ">Description</label>
            <textarea id="description" name="description"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="This event supports markdown">{{ event.description }}</textarea>
        </div>  

        <script>
            textarea = document.querySelector("#description");
            textarea.addEventListener("input", autoresize, false);

            function autoresize(){
              this.style.height="auto";
              this.style.height = this.scrollHeight + 'px';
            }

            window.onload = function () {
               textarea = document.querySelector("#description");
               textarea.style.height="auto"
               textarea.style.height = textarea.scrollHeight + 'px';
            }
          </script>

        <div class="mb-6">
          <label for="tags" class="block mb-2 text-sm font-medium text-gray-900">Select tags... (Hold ctrl/cmd to select multiple)</label>
          <select multiple id="tags" name="tags[]" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            {% for tag in valid_tags %}
            <option value="{{ tag }}" {{ 'selected' if tag in event.tags}}>{{ tag }}</option>
            {% endfor %}
          </select>
        </div>

        
        <div class="mb-6">
            <label for="eventImage" class="cursor-pointer mb-2 text-sm font-medium text-gray-900">
            <span class="bg-gray-50 border border-gray-300 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center">Add a new image of your event</span><br><br>
              <input id="eventImage" name="eventImage" type="file" accept="image/*" multiple class="hidden">
              <p id="imageName"></p>
            </label>
        </div>
        
        <script>
            let input = document.getElementById("eventImage");
            let imageName = document.getElementById("imageName");
            input.addEventListener("change", ()=>{
              let eventImage = document.querySelector("input[type=file]").files[0];
              imageName.innerHTML = eventImage.name;
            })
        </script>

        <button type="submit"
                class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
            Submit
        </button>
    </form>

{% endblock %}