<!DOCTYPE html>
<html>
    <head>
        <title>McGill Community Calendar</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/output.css') }}">
    </head>
    <body>
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded ">
        <div class="container flex flex-wrap items-center justify-between mx-auto">

        <a href="{{ url_for('index') }}" class="flex items-center">
            <img width="36" height="36" src="{{url_for('static', filename='images/bird.jpeg')}}" class="h-6 mr-3 sm:h-9" alt="McGill Logo">
            <span class="self-center text-xl font-semibold whitespace-nowrap md:hover:text-red-600">McGill Community Calendar</span>
        </a>
        <div class="block w-auto" id="navbar-default">
            <ul class="flex flex-row px-4 py-2 mt-4 md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white ">

            <!--If the user is logged in display create event and logout-->
            {% if g.user %}
            <li>
                <a href="{{ url_for('event.create') }}" class="block py-2 px-4 bg-red-600 text-white rounded hover:bg-red-800 transition duration-300">
                Create Event</a>
            </li>

            <li class="flex items-center">
                <a href="{{ url_for('auth.logout') }}" class="block leading-5 py-2 pl-3 pr-4 text-gray-700 rounded transition duration-300 hover:text-red-600 md:hover:bg-transparent md:border-0 md:p-0">
                Logout
                </a>
            </li>
            
            <li>
                <a href="{{ url_for('user.user', id=g.user.id)}}">
                    {% if g.user.pfp_filename %}
                    <img class="rounded-full object-cover w-8 h-8" src="{{ url_for('send_uploaded_file', filename=g.user.pfp_filename) }}">
                    {% else %}
                    <img class="rounded-full border border-gray-200 object-cover w-8 h-8" src="{{ url_for('static', filename='Images/bird.jpeg')}}">
                    {% endif %}
                </a>
            </li>

            <!--If the user is not logged in, display login and register button-->
            {% else %}
            <li class="flex items-center">
                <a href="{{ url_for('auth.login') }}" class="block leading-5 py-2 pl-3 pr-4 text-gray-700 rounded transition duration-300 hover:text-red-600 md:hover:bg-transparent md:border-0 md:p-0">
                Login
                </a>
            </li>
            <li class="flex items-center">
                <a href="{{ url_for('auth.register') }}" class="block leading-5 py-2 pl-3 pr-4 text-gray-700 rounded transition duration-300 hover:text-red-600 md:hover:bg-transparent md:border-0 md:p-0">
                Register
                </a>
            </li>
            {% endif %}
            </ul>
        </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    </body>
</html>