{% extends 'base.html' %}

{% block content %}
<!-- <div class="bg-red-400 rounded-md py-2 w-11/12 mx-auto"> -->
<div class="py-6 h-screen mx-20">
    <h1 class="text-2xl font-bold">Events happening soon!</h1>
    <div>
        <h2 class="text-lg">
            Filter tags...
        </h2>
        <div class="border border-black w-auto h-12">

        </div>
    </div>
    <div class="rounded py-2 grid grid-cols-7 grid-rows-2 w-auto h-96 gap-2">
        {% for i in range(1,15) %}
            <div class="rounded border bg-gray-50 border-gray-300 px-2 py-1">
                {% if loop.first %}
                <div class="rounded-3xl border border-red-500 w-7 h-7 text-center">{{i}}</div>
                {% else %}
                <div class="rounded-3xl border border-gray-400 w-7 h-7 text-center">{{i}}</div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
<!-- </div> -->
{% endblock%}