{% extends 'base.html' %}

{% block content%}

    <div class="md:flex no-wrap md:-mx-2 ">
        <div class="w-full md:w-3/12 md:mx-2">
            <h1 class="text-gray-900 font-bold text-xl leading-8 my-1">{{ user.email }}</h1>

        </div>
    </div>

<h3>{{ user.email }} </h3>
<h3> Events they've created: </h3>
    {% for event in user.events %}
 <ol>
    <!--ordered list chronilogically of the events that the user organized-->
    <li>{{ event.name }}</li>

    {% endfor %}
</ol>
   
{% endblock %}